body{
  /*border: 1px solid red;*/
  padding-top: 61px;
}

.navbar-header a.navbar-brand{
  margin-top: -15px;
  margin-bottom: -20px;
}

h6 {
  color: #ccc;
}




footer{
  padding-left: 15px;
  padding-right: 15px;
}

footer p{
  border-top: 1px solid #eee;
  padding-top: 1em;
}

.navbar-form .form-group{
  margin-left: 10px;
}
.navbar-form button{
  margin-left: 10px;
}

footer.container.text-center p{ 
}

.toast-top-right{
  top:65px;
}

.toast-success{
  /*background-color: */
}